.bg {
  background-image: radial-gradient(
    88.33% 60.62% at 100.87% 48.33%,
    rgb(86, 53, 173) 0%,
    rgb(20, 9, 78) 100%
  );
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.logo-container {
  margin: 2rem 4rem;
}
.logo-container a {
  text-decoration: none;
}
.logo {
  font-family: var(--sub-font);
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--color-logo-text);
  line-height: 2.8rem;
}
